
.bill.container {
    
    min-height: 80vh;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    font-family: 'MN CUSTARD'
}
h3{
    font-family: 'MN CUSTARD';
}

body{
    font-family: 'MN CUSTARD';
}

@media only screen and (max-width: 844px) { 

kard{
    width: 50%;
    height: 100%;

 }
 
    
}

