.profile {

  .container {

    min-height: 80vh;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    font-family: 'MN CUSTARD'
  }

  h3 {
    font-family: 'MN CUSTARD';
  }

  h3 {
    font-family: 'MN CUSTARD';
  }

  body {
    font-family: 'MN CUSTARD';
  }

  th {
    text-align: center;
  }

  td {
    height: 50px;
    vertical-align: bottom;
  }

  .avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  @media only screen and (max-width: 600px) { 
    
  }

}